<div layout="row" layout-align="space-around center">
    <nav md-tab-nav-bar class="navigation-bar--material prim-main-nav">
        <a md-tab-link (click)="onNavClick()">
            <md-icon class="topper">home</md-icon>
        </a>
        <div layout="row" layout-align="space-around center" class="nav-btn-position">
            <upload-button-url class="topper"></upload-button-url>
            <div class="divider"></div>
            <upload-button class="topper-up"></upload-button>
        </div>
    </nav>
</div>
