.upload-button {
    top: 16px;
}

.button2 {
    min-height: 23px !important;
    min-width: 1% !important;
    font-size: 10px !important;
    line-height: 0px; 
}

.button1 {
    -moz-box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-transition: none;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: none;
    -webkit-user-select: none;
    background: azure;
    background-clip: padding-box;
    background-color: azure;
    border: none;
    border: 0px solid currentColor;
    border-radius: 3px;
    box-sizing: border-box;
    color: azure;
    color: #fff;
    cursor: default;
    display: inline-block;
    font: inherit;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 17px;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: normal;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: none;
    user-select: none;
    vertical-align: top;
    vertical-align: middle;
    white-space: nowrap;
}

.td-file-upload {
    padding-left: 0;
    padding-right: 0;
    width: 300px;
    height: 70px;
    padding-top: 13px;
}
button label {
    cursor: crosshair;
    display: block;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px; }
button label md-icon {
    position: relative;
    top: 6px;
    padding-right: 5px; }
