<!--<md-card class="border">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
            <span class="md-title">Title here</span>
        </span>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
        </td-search-box>
        <span>
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
            <md-menu #toolbarMenu="mdMenu">
                <button md-menu-item>
                    <md-icon>settings</md-icon>
                    <span>Settings</span>
                </button>
            </md-menu>
        </span>
    </div>
    <md-divider></md-divider>
    <md-list>
        <md-list-item>
            <md-icon md-list-avatar>apps</md-icon>
            <h3 md-line>App Name</h3>
            <span flex></span>
            <span hide-xs flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
            <span hide-xs class="md-sort-header" flex="40" layout="row" layout-align="center center" class="pad-left md-body-1 tc-grey-500">
                <md-select flex="90" [(ngModel)]="sortKey">
                    <md-option *ngFor="let option of columnOptions" [value]="option.value" (click)="sortBy(sortKey)">
                        {{option.name}}
                    </md-option>
                </md-select>
            </span>
            <a hide-xs class="md-sort-header" (click)="sortBy(sortKey)">
                <span layout="row" layout-align="start center" flex>
                    <md-icon class="md-sort-icon">{{headers[sortKey] === 'asc'? 'arrow_upward' : 'arrow_downward'}}</md-icon>
                </span>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <template let-item let-last="last" ngFor [ngForOf]="cars">

            <md-list-item>
                <md-icon md-list-avatar>desktop_mac</md-icon>
                <h3 md-line> {{item.year}} </h3>
                <span flex></span>
                <span hide-xs flex="10">
                    {{item.owner}}
                </span>
                <span hide-xs flex="60" class="text-right md-body-1 tc-grey-500 pad-right">
                    {{item[sortKey] | date:'short'}}
                </span>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
        </template>
    </md-list>
    <md-divider></md-divider>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" total="20">
        <span td-paging-bar-label hide-xs>Row per page:</span>
        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
</md-card>-->
<!--<ul class="list list__item--nodivider">
    <li class="list__item list__item--nodivider list__header list__header--material active ">
        <div class="list__item--nodivider__center list__item__center list__item--material__center">
            NAME
        </div>
        <div class="size-column list__item--nodivider__center list__item__right list__item--material__right">
            SIZE
        </div>
        <div class="last-change-column list__item--nodivider__center list__item__right list__item--material__right">
            LAST CHANGED
        </div>
    </li>
    <li *ngIf="parent != uploads" class="list__item list__item--nodivider list__header list__header--material active ">
        <a (click)="OnClick(parent)">
            <md-icon>arrow_drop_up</md-icon> Folder Up
        </a>
    </li>

    <li class="animated fadeInDown list__item--hover list__item list__item--tappable list__item--nodivider list__item--material" *ngFor="let content of fileSystemContent">
        <div class="list__item__left">
            <img *ngIf="content.type == 'folder'" class="list__item__thumbnail" src="/img/documents-icon.png">
            <img *ngIf="content.type == 'file'" class="list__item__thumbnail" src="/img/document-movie-icon.png">
        </div>

        <div class="txt_alignment list__item--nodivider__center list__item__center list__item--material__center" (click)="OnClick(content)">
            <font class="sliding-middle-out" color="#616161">{{content.name}}</font>
        </div>
        <div class="txt_alignment size-column list__item--nodivider__center list__item__right list__item--material__right">
            <font color="#616161">{{content.size | fileSize}}</font>
        </div>
        <div class="txt_alignment last-change-column list__item--nodivider__center list__item__right list__item--material__right">
            <font color="#616161">{{content.lastChanged | date :'short'}}</font>
        </div>
    </li>
</ul>-->


<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span class="md-title">WebTorrent</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
    </td-search-box>
</div>
<md-divider></md-divider>
<table td-data-table>
    <tr td-data-table-row>
        <th width="68%" td-data-table-column
            [name]="name.name"
            [active]="name.sortable && name.name === sortBy"
            [sortable]="name.sortable"
            [sortOrder]="sortOrder"
            (sortChange)="sort($event)">
            <span mdTooltip="{{name.tooltip}}">{{name.label}}</span>
        </th>
        <th class="indent-column" width="15%" td-data-table-column
            [name]="size.name"
            [active]="size.sortable && size.name === sortBy"
            [sortable]="size.sortable"
            [sortOrder]="sortOrder"
            (sortChange)="sort($event)">
            <span mdTooltip="{{size.tooltip}}">{{size.label}}</span>
        </th>
        <th width="20%" td-data-table-column
            [name]="changed.name"
            [active]="changed.sortable && changed.name === sortBy"
            [sortable]="changed.sortable"
            [sortOrder]="sortOrder"
            (sortChange)="sort($event)">
            <span mdTooltip="{{changed.tooltip}}">{{changed.label}}</span>
        </th>
    </tr>
    <tr td-data-table-row *ngIf="parent != uploads">
        <a (click)="OnClick(parent)">
            <md-icon>arrow_drop_up</md-icon> Folder Up
        </a>
    </tr>
    <tr class="animated fadeInDown list__item--hover" td-data-table-row *ngFor="let content of filteredData">
        <td td-data-table-cell (click)="OnClick(content)">{{content.name}}</td>
        <td td-data-table-cell>{{content.size | fileSize}}</td>
        <td td-data-table-cell>{{content.lastChanged | date :'short'}}</td>
    </tr>
</table>
<div class="md-padding" *ngIf="" layout="row" layout-align="center center">
    <h3>No results</h3>
</div>
